.destinations {
    max-width: 1100px;
    min-height: 600px;
    margin: 20px auto;
    border: 1px solid grey;
    background-color: #f5f5f5;
}

.destinations header {
    text-align: center;
    border-bottom: 1px solid grey;
}

.mid-section {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.destinations-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
